@model IEnumerable<Shared>

@{
    ViewData["Title"] = "Shared Hobbies of Group 4";
}

<!DOCTYPE html>
<html>
<head>
    <title> @ViewData </title>
</head>
<body>
    <h1 class="display-4"> Shared Hobbies</h1>

    <table class="table">
        <thead>
            <tr><th>Hobby Name</th></tr>
        </thead>
        <tbody>
            @foreach (Shared c in Model)
            {
                <tr>
                    <td>@c.SharedHobbyName</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>