<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About Chloe</title>
</head>
<body>
    <div class = "about-wrapper">
        <div class="about-left">
            <div class="about-left-content">
                <div>

                    <h2>Chloe <br> Motz </h2>
                    <h3> Full-stack developer and full-time student </h3>
                </div>
            </div>
        </div>
        <div class="about-para">
            <p><b> Pronouns:</b> They/Them</p>
            <p><b> Age:</b> 22</p>
            <p><b> Major:</b> IT with a specialization in software development</p>
            <p><b> Year:</b> Fourth Year</p>

            <p>Hi! My name is Chloe and I'm a part of Group 4. Born and raised in Cincinnati, it was obvious that UC was going to be a top choice of mine.As stated above, I'm currently a 4th year student in IT but I didn't start off in IT. 
                When I first got accepted to UC, I actually started out in the Computer Engineering track in the CEAS college here at UC. With the pandemic, it QUICKLY showed me that I preferred coding over working with the physical hardware 
                of a computer. What made me choose IT in the end was that when discovering other majors in UC, I stumbled upon software development as a specialized track in the school of IT. Ever since switching, my grades have improved dramatically
                and it's been way easier to understand my classes.
            </p>

            <p><br /> Currently, I work at the Information Technology Solution Center (ITSC) here at UC. I'm a team leader on one of our larger projects. Having started out there last semester as a co-op to my current position, it's
                been a bit rocky but I've been loving it. This has to be one of my favorite jobs to date.
            </p>

            <p><br /> Some fun facts about me would be that I recently adopted a 6 year old tabby cat named Mo and I absolutely love her. I also recently got my first tattoo! It's a 
                Dungeons and Dragons themed tattoo! It's a jagged d20 with a sword through it. I really really enjoy DnD, so much so that I've been in a homebrew group for 3 1/2 years now. I would explain my hobbies, but you can check that out
                in my hobbies page!</p>

        </div>
    </div>
</body>
</html>