<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About Chloe</title>
</head>
<body>
    <div class = "about-wrapper">
        <div class="about-left">
            <div class="about-left-content">
                <div>
                    <div class ="shadow">
                        <div class ="about-chloe">
                            <img src = "about-chloe.jpg" alt="about image" />
                        </div>
                    </div>

                    <h2>Chloe <br> Motz </h2>
                    <h3> Full-stack developer and full-time student </h3>
                </div>
            </div>
        </div>
        <div class="about-para">
            <p><b> Pronouns:</b> They/Them</p>
            <p><b> Age:</b> 22</p>
            <p><b> Major:</b> IT with a specialization in software development</p>
            <p><b> Year:</b> Fourth Year</p>
        </div>
    </div>
</body>
</html>