@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Meet Group 4</title>
    </head>
    <body>
        <div class="about-section">
  <h1>Welcome!</h1>
  <p>Come meet the members of Group 4, learn their hobbies, leave recommendations, and more!</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Jane Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><a class="button" asp-area="" asp-action="AboutChloe">Contact</a></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p>
         <a class="button" asp-area="" asp-action="AboutDakota">Contact</a>
        </p>
      </div>
    </div>
  </div>
</div>
    </body>
</html>