<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Meet Group 4</title>
    </head>
    <body>
        <div class="about-section">
  <h1>Welcome!</h1>
  <p>Come meet the members of Group 4, learn their hobbies, leave recommendations, and more!</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Chloe Motz</h2>
        <p class="title">Full-stack Developer</p>
        <p>Hi! My name is Chloe! To learn more about me, check my 'About Me' page.</p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <div class="container">
        <h2>Dakota Smith</h2>
        <p class="title">UC Junior</p>
        <p>My name is Dakota. Check out some of my hobbies at my 'About Me' page.</p>
      </div>
    </div>
  </div>
</div>
    </body>
</html>