@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
       <meta name="viewport" content="width=device-width" />
       <title> Meet Group 4</title>
    </head>
    <body>
        <p> Temp language here</p>
        <p> @ViewBag.Name</p>
    </body>
</html>