@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
    <head>
       <meta name="viewport" content="width=device-width" />
       <title> Meet Group 4</title>
    </head>
    <body>
<div class="about-section">
           <div class="card">
           <h2> Name </h2>
           <p> Dakota Smith </p>
       </div>
       <div class="card">
           <h2> Age </h2>
           <p> 20 </p>
       </div>
       <div class="card">
           <h2> Pronouns </h2>
           <p> He/Him </p>
       </div>
       </div>
    </body>
</html>