@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
       <meta name="viewport" content="width=device-width" />
       <title> About Chloe</title>
    </head>
    <body>
       <div class="about-section">
           <div class="card">
           <h2> Name </h2>
           <p> Chloe Motz</p>
       </div>
       <div class="card">
           <h2> Age </h2>
           <p> 22 </p>
       </div>
       <div class="card">
           <h2> Pronouns </h2>
           <p> They/Them </p>
       </div>
       </div>
    </body>
</html>