@model RecHobbies

@{
    ViewData["Title"] = "Delete Recommendation";
}

<h1 class="display-4">Delete Recommendation</h1>

<ul class="list-group mb-2">
    <li class="list-group-item">
        @Model.recommendedHobby
    </li>
</ul>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-dark">Delete</button>
    <a asp-action="Index" asp-controller="RecHobbies" class="btn btn-outline-dark">Cancel</a>
</form>
