<!DOCTYPE html>
<html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About Dakota</title>
</head>
<body>
    <div class="about-wrapper">
        <div class="about-left">
            <div class="about-left-content">
                <div>
                    <div class="shadow">
                    </div>

                    <h2>Dakota <br> Smith </h2>
                    <h3> Full time student at UC </h3>
                </div>
            </div>
        </div>
        <div class="about-para">
            <p><b> Pronouns:</b> He/Him</p>
            <p><b> Age:</b> 20</p>
            <p><b> Major:</b> IT with a specialization in software development and cybersecurity</p>
            <p><b> Year:</b> Third Year</p>

            <p>
                My name is Dakota Smith. I got introduced to UC's IT field during my sophomore year of highschool. I joined my school's 'Early IT Program' and have been in the program ever since.
                I like outdoor activities such as camping, fishing, hiking, and other outdoor activies, but I also like video games and board games. I've been through a three co-op semesters so far,
                and I am slowly learning the skills I need to be a software developer.
            </p>

            <p>
                <br /> I am currently just a full time student until the 2023 fall semester. On my previous co-ops I worked as a junior software developer learning about the different responsiblities and
                skills that I'll need in the work force. When I'm not coding for work or school, I sometimes like to code for my video game that I work on in my free time.

            <p>
                <br /> A fun fact about me is that I like to travel to forign countries. My personal favorite trip was the one I took to Peru. Peru has many natural wonders from its mountain to its deserts.
                The best part of the trip had to be Machu Picchu, a long abandon village on a mountain-top. My Spanish wasn't as good as I thought it was, but I luckly had a friend who could translate for me.
            </p>
        </div>
    </div>
</body>
</html>
