<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About Dakota</title>
</head>
<body>
    <div class = "about-wrapper">
        <div class="about-left">
            <div class="about-left-content">
                <div>
                    <div class ="shadow">

                    </div>

                </div>
            </div>
        </div>
        <div class="about-para">

        </div>
    </div>
</body>
</html>