@model IEnumerable<Chloe>


<!DOCTYPE html>
<html>
    <head>
    <title> Chloe's Hobbies </title>
    </head>
    <body>
        <h1 class="display-4"> Favorite Hobbies</h1>

    <table class="table">
        <thead>
            <tr><th>Hobby Name</th><th>Favorite Types of Hobby</th></tr>
        </thead>
        <tbody>
            @foreach (Chloe c! in Model)
            {
                <tr>
                    <td>@c.HobbyName</td>
                    <td>@c.HobbyType</td>
                </tr>
            }
        </tbody>
    </table>

    <h3><b>Crafting </b></h3>
    <p> What I enjoy most about crafting is taking any kind of everyday household object and making art with it. As shown in the list, I
        really enjoy journalling, scrapbooking, and knitting. I've only been journaling for a year, but I've been scrapbooking and knitting for
        a few years now. My knitting skills haven't gone anywhere past knitting scarfs, but it's still a growing skill.
    </p>

    <h3><br /><b>Gaming </b></h3>
    <p> Almost every season or school semester I find a new game to hyperfixate on. Growing up, I've always loved
        playing computer games. Some of my favorite were the Mystery Case File hidden-object games or story-based games like
        Legend of Zelda or Kingdom Hearts.
    </p>

    <h3><br /><b>Reading </b></h3>
    <p>
        It's been awhile since I last picked up a good book, but I've been trying to make more time to do some reading.
        Some of my favorite genres of books are thriller novels, slice of life, and fantasy. Most of what I read now is Young Adult
        Fiction, but my reading list has grown to have some nonfiction books in there are well. One of my most favorite recent reads was
        'Tess of the Road' by Rachel Hartman. I would highly recommend it for fantasy lovers. 
    </p>
    </body>
</html>